a {
	color: blue !important;
}

ul li a {
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

ul li {
	margin: 3px 4px;
	border-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
}

img {
	border: solid 2px black !important;
	padding: 0px;
	float: right;
}

.my-background {
	font-family: serif;
	background: #eaeaea !important;
}

.my-center {
	text-align: center !important;
}

.my-large-font {
	font-size: 28px !important;
}

.my-medium-font {
	font-size: 18px !important;
}

.my-big-card {
	border: 2px solid black;
	padding: 4px;
	border-radius: 8px !important;
	margin: 4px;
}

.my-little-card {
	border-radius: 8px !important;
	border: none !important;
}

.my-background-radius {
	border-radius: 16px;
}

.link {
	color: blue !important;
}

.my-nav {
	margin-bottom: 0px !important;
}

.my-taskbar-item-li {
	color: black !important;
	border: 3px solid black;
	margin-bottom: 3px;
	padding-bottom: 1px;
}

	.my-taskbar-item-li:hover {
		/*border: black !important;*/
	}

.my-taskbar-item {
	color: black !important;
}

.my-job-ul {
	margin-top: -20px;
}

.my-job-img-li {
	list-style: none;
	display: inline;
}

.my-job-img {
	margin-top: 20px;
	max-width: 430px;
	max-height: 318px;
}

.my-job-small-img {
	margin-top: 20px;
	width: 30%;
	min-width: 132px;
	max-height: 230px;
	max-width: 185px;
	max-height: 325px;
}

.my-job-header-li {
	list-style: none;
	display: inline;
}

.my-job-header {
	margin-left: -30px;
	word-break: keep-all;
}

.my-job-first-li {
	margin-top: -20px;
	font-style: italic;
}

.my-project-card {
	border: 2px solid black;
	padding: 4px;
	border-radius: 8px !important;
	margin: 4px;
	background-color: #eaeaea !important;
}

#id-bio {
	min-width: 160px;
}

#id-headshot {
	vertical-align: bottom;
}

@media only screen and (max-width: 600px) {
	img:not(.my-job-small-img) {
		width: 80%;
		float: none;
		text-align: center !important;
	}

	#id-headshot {
		width: 100%;
		float: none;
		text-align: center;
	}
}

@media only screen and (min-width: 600px) {
	#id-headshot {
		float: right;
		width: 35%;
		margin-left: 10px;
	}
}